@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
}
@{
    string username, a;
    string test = @HttpContextAccessor.HttpContext.Session.GetString("NguoidungEmail");
    if (test != null)
    {
        username =test;
        a = "Logout";
    }
    else
        a = "Login";
}
<div class="header_section haeder_main">
    <div class="container-fluid">

        <nav class="navbar navbar-light bg-light justify-content-between">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="~/index.html">Home</a>
                <a href="~/computers.html">Computers</a>
                <a href="~/mans_clothes.html">Mans Clothes</a>
                <a href="~/womans_clothes.html">Womans Clothes</a>
                <a href="~/contact.html">Contact</a>
            </div>
            <span style="font-size:30px;cursor:pointer; color: #fff;" onclick="openNav()"><img src="~/images/toggle-icon.png"></span>
            <a class="navbar-brand" href="~/index.html"><img src="~/images/logo.png"></a>
            <form class="form-inline ">
                <div class="login_text">
                    <ul>
                        @*<li><a asp-controller="Nguoidungs" asp-action="Logout" style="color: #333">Login</a></li>*@
                        <li>
                            <a asp-controller="Nguoidungs" asp-action="@a" style="color: #333">@a</a>
                        </li>
                        <li><a href="#"><img src="~/images/user-icon.png"></a></li>
                        <li><a  asp-controller="Home" asp-action="Giohang"><img src="~/images/trolly-icon.png"></a></li>
                        <li><a href="#"><img src="~/images/search-icon.png"></a></li>
                    </ul>
                </div>
            </form>
        </nav>
    </div>
</div>