@model DoAnASPnetPhone.Models.Chitietdonhang

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Chitietdonhang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DonhangId" class="control-label"></label>
                <select asp-for="DonhangId" class ="form-control" asp-items="ViewBag.DonhangId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SanphamId" class="control-label"></label>
                <select asp-for="SanphamId" class ="form-control" asp-items="ViewBag.SanphamId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Soluong" class="control-label"></label>
                <input asp-for="Soluong" class="form-control" />
                <span asp-validation-for="Soluong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dongia" class="control-label"></label>
                <input asp-for="Dongia" class="form-control" />
                <span asp-validation-for="Dongia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

