@model IEnumerable<DoAnASPnetPhone.Models.Sanpham>
    <!-- banner section start -->
<div class="banner_section layout_padding">
    <div id="my_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row border_1">
                        <div class="col-md-4">
                            <div class="image_1"><img src="~/images/img-1.png" style="width:100%"></div>
                        </div>
                        <div class="col-md-4">
                            <h1 class="banner_taital">Big Sale Offer</h1>
                            <div class="buynow_bt active"><a href="#">Buy Now</a></div>
                            <div class="contact_bt"><a href="~/contact.html">Contact Us</a></div>
                        </div>
                        <div class="col-md-4">
                            <div class="image_2"><img src="~/images/img-2.png" style="width:100%"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row border_1">
                        <div class="col-md-4">
                            <div class="image_1"><img src="~/images/img-1.png" style="width:100%"></div>
                        </div>
                        <div class="col-md-4">
                            <h1 class="banner_taital">Big Sale Offer</h1>
                            <div class="buynow_bt active"><a href="#">Buy Now</a></div>
                            <div class="contact_bt"><a href="~/contact.html">Contact Us</a></div>
                        </div>
                        <div class="col-md-4">
                            <div class="image_2"><img src="~/images/img-2.png" style="width:100%"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row border_1">
                        <div class="col-md-4">
                            <div class="image_1"><img src="~/images/img-1.png" style="width:100%"></div>
                        </div>
                        <div class="col-md-4">
                            <h1 class="banner_taital">Big Sale Offer</h1>
                            <div class="buynow_bt active"><a href="#">Buy Now</a></div>
                            <div class="contact_bt"><a href="~/contact.html">Contact Us</a></div>
                        </div>
                        <div class="col-md-4">
                            <div class="image_2"><img src="~/images/img-2.png" style="width:100%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
<!-- banner section end -->
<!-- catagary section start -->
<div class="catagary_section layout_padding">
    <div class="container">
        <div class="catagary_main">
            <div class="catagary_left">
                <h2 class="categary_text">Categary</h2>
            </div>
            <div class="catagary_right">
                <div class="catagary_menu">
                    <ul>
                        <li><a href="#">Man's Fashion</a></li>
                        <li><a href="#">Woman Fashion</a></li>
                        <li><a href="#">Beauty</a></li>
                        <li><a href="#">Mobiles</a></li>
                        <li><a href="#">Computers</a></li>
                        <li><a href="#">Watchs</a></li>
                        <li><a href="#">Kicthen</a></li>
                        <li><a href="#">Sports</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="catagary_section_2">
    <div class="container-fluid">
        <div class="row">
            @foreach (Sanpham sp in Model)
            {
                <div class="col-md-4">
                    <div class="box_man">
                        <h3 class="mobile_text">Mobile</h3>
                        <div class="mobile_img"><img src="~/assets/pages/img/sanpham/@sp.Anhbia"></div>
                        <div class="cart_main">
                            <div class="cart_bt"><a asp-controller="Giohangs" asp-action="Add" asp-route-id="@sp.Id" class="btn btn-primary" type="submit">Add to cart</a></div>
                            <h4 class="samsung_text">@sp.Tensp</h4>
                            <h6 class="rate_text"><a href="#">@sp.Giatien</a></h6>
                            <h6 class="rate_text_1">$1000</h6>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- catagary section end -->
<!-- computers section start -->
<div class="computers_section layout_padding">
    <div class="container">
        <h1 class="computers_taital">Computers & Laptop</h1>
    </div>
</div>
<div class="computers_section_2">
    <div class="container-fluid">
        <div class="computer_main">
            <div class="row">
                <div class="col-md-4">
                    <div class="computer_img"><img src="~/images/computer-img.png"></div>
                    <h4 class="computer_text">COMPUTER</h4>
                    <div class="computer_text_main">
                        <h4 class="dell_text">Samsung</h4>
                        <h6 class="price_text"><a href="#">$500</a></h6>
                        <h6 class="price_text_1"><a href="#">$1000</a></h6>
                    </div>
                    <div class="cart_bt_1"><a href="#">Add To Cart</a></div>
                </div>
                <div class="col-md-4">
                    <div class="computer_img"><img src="~/images/laptop-img.png"></div>
                    <h4 class="computer_text">LAPTOP</h4>
                    <div class="computer_text_main">
                        <h4 class="dell_text">Dell</h4>
                        <h6 class="price_text"><a href="#">$500</a></h6>
                        <h6 class="price_text_1"><a href="#">$1000</a></h6>
                    </div>
                    <div class="cart_bt_1"><a href="#">Add To Cart</a></div>
                </div>
                <div class="col-md-4">
                    <div class="computer_img"><img src="~/images/mac-img.png"></div>
                    <h4 class="computer_text">macOS</h4>
                    <div class="computer_text_main">
                        <h4 class="dell_text">Apple</h4>
                        <h6 class="price_text"><a href="#">$500</a></h6>
                        <h6 class="price_text_1"><a href="#">$1000</a></h6>
                    </div>
                    <div class="cart_bt_1"><a href="#">Add To Cart</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- computers section end -->
<!-- mans clothes section start -->
<!-- womans clothes section end -->